*.tfstate
*.tfstate.* 
crash.log 
override.tf
override.tf.json
*_override.tf
*_override.tf.json 
.terraform.lock.hcl
.terraform/
output/
kubeconfig
*.tmp
debug/
/02_config/gitlab/config/*
/02_config/gitlab/data/*
/02_config/gitlab/db/*
/02_config/gitlab/log/*
/02_config/openldap/ldap/*
/02_config/openldap/slapd/*